export(ab.arglist, ab.create, ab.model, ab.predict, gensemble, mksampsize, predict.gensemble, print.gensemble)
exportClasses(
    "AbstractModel",
     "gensemble" 
)
S3method(predict, gensemble)
S3method(print, gensemble)
importFrom("methods", "new")
importFrom("stats", "cor", "na.omit", "predict", "rnorm", "var")
